In [1]:
#### import necessary packages
%matplotlib inline
#import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read data 
#path = "/Users/mengyang/Documents/python/PredictFutureSale/data/sales_train.csv"
path = "C:/1Mandi/Personal/PredictFutureSale/data/"
sales_data = pd.read_csv(path +'sales_train.csv', sep = ",", header = 0) 
shop_data = pd.read_csv(path +'shops.csv', sep = ",", header = 0)
item_data = pd.read_csv(path +'items.csv', sep = ",", header = 0)
item_categories_data = pd.read_csv(path+'item_categories.csv', sep = ",", header = 0)
test_data = pd.read_csv(path+'test.csv', sep = ",", header = 0)

In [5]:
item_data = pd.merge(item_data,item_categories_data,on='item_category_id')
shop_data['shop_city'] = shop_data['shop_name'].str.split(' ').str[0]

sales_data['sales_value'] = sales_data.item_price*sales_data.item_cnt_day
sales_data['year_month'] = sales_data['date'].str[3:]
sales_data = pd.merge(pd.merge(sales_data,shop_data,on='shop_id'),item_data,on='item_id')
sales_data.head()

sales_data['in_test_shop'] = np.where(
        sales_data['shop_id'].isin(test_data['shop_id']),
        'Yes',
        'No'
)
sales_data['in_test_item'] = np.where(
        sales_data['item_id'].isin(test_data['item_id']),
        'Yes',
        'No'
)

In [6]:
sales_data_final = sales_data[['date_block_num','year_month','shop_name','shop_city','item_name','item_category_name',\
                               'item_price','item_cnt_day','sales_value','in_test_shop','in_test_item']]
sales_data_final.head()

,date_block_num,year_month,shop_name,shop_city,item_name,item_category_name,item_price,item_cnt_day,sales_value,in_test_shop,in_test_item
0,0,01.2013,"Ярославль ТЦ ""Альтаир""",Ярославль,ЯВЛЕНИЕ 2012 (BD),Кино - Blu-Ray,999.0,1.0,999.0,Yes,Yes
1,0,01.2013,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),Кино - Blu-Ray,999.0,1.0,999.0,Yes,Yes
2,0,01.2013,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),Кино - Blu-Ray,999.0,1.0,999.0,Yes,Yes
3,0,01.2013,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),Кино - Blu-Ray,999.0,1.0,999.0,Yes,Yes
4,0,01.2013,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),Кино - Blu-Ray,999.0,1.0,999.0,Yes,Yes

In [7]:
shop_count = len(sales_data['shop_id'].unique())
print('Total Shop count in Sales data: ', shop_count)

item_count = len(sales_data['item_id'].unique())
print('Toal Item count in Sales data: ', item_count)

print('*****************************')

shop_count = len(test_data['shop_id'].unique())
print('Total Shop count in test data: ', shop_count)

item_count = len(test_data['item_id'].unique())
print('Toal Item count in test data: ', item_count)

print('*****************************')

shop_count = len(sales_data[sales_data['in_test_shop'] == 'Yes' ]['shop_id'].unique())
print('Shop in test data found in Sales data: ', shop_count)

item_count = len(sales_data[sales_data['in_test_item'] == 'Yes' ]['item_id'].unique())
print('Item in test data found in Sales data: ', item_count)

Total Shop count in Sales data:  60
Toal Item count in Sales data:  21807
*****************************
Total Shop count in test data:  42
Toal Item count in test data:  5100
*****************************
Shop in test data found in Sales data:  42
Item in test data found in Sales data:  4737

In [32]:
#data = sales_data[['date_block_num', 'sales_value']].groupby(by='date_block_num').sum()
#data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,year_month,sales_value,in_test_shop,in_test_item,shop_name,shop_city,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,01.2013,999.0,Yes,Yes,"Ярославль ТЦ ""Альтаир""","Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
1,02.01.2013,0,25,22154,999.0,1.0,01.2013,999.0,Yes,Yes,"Москва ТРК ""Атриум""","Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
2,03.01.2013,0,25,22154,999.0,1.0,01.2013,999.0,Yes,Yes,"Москва ТРК ""Атриум""","Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
3,20.01.2013,0,25,22154,999.0,1.0,01.2013,999.0,Yes,Yes,"Москва ТРК ""Атриум""","Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
4,23.01.2013,0,25,22154,999.0,1.0,01.2013,999.0,Yes,Yes,"Москва ТРК ""Атриум""","Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray

In [8]:
#dateSubset = data.iloc[0:33,0]
#saleSubset = data.iloc[0:100,5]
#print(dateSubset)

plt.plot(data.sales_value)
plt.ylabel('Sales')
plt.xlabel('Date Block')
#plt.axis('off')
plt.show()

NameError: name 'data' is not defined